.container {
	display: flex;
	width: 100%;
} 

.container5 {
	width: 300px;
	height: 400px;
	background-color: #FFF8DC;
	z-index: 1;
	border-radius: 370px 100px 450px 250px;
	position: relative;
	margin: auto;
	box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.5);
}

.photo {
	width: 300px;
	border-radius: 350px 200px 450px 250px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.engineer {
    font-size: 40px;
	color: #CD853F;
	text-align: center;
	line-height: 60px;
}

.name {
	font-size: 40px;
	color: #CD853F;
	text-align: center;
	line-height: 70px;
}

.obomne {
	font-size: 30px;
	color: #CD853F;
	line-height: 40px;
	margin-top: 70px;
	text-align: center;
	padding: 60px;
}

.rectangle1 {
	background-color: #DEB887;
	border: 5px solid #A0522D;
	font-size: 20px;
	color: #000000;
	line-height: 40px;
	display: flex;
	justify-content: center;
	margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 230px;

}

.rectangle {
	background-color: #DEB887;
	border: 5px solid #A0522D;
	font-size: 20px;
	color: #000000;
	line-height:40px;
	display: flex;
	justify-content: center;
	margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 230px;
	max-height: 900px;
}

.rectangle2 {
	background-color: #DEB887;
	border: 5px solid #A0522D;
	font-size: 20px;
	line-height: 40px;
	display: flex;
	justify-content: center;
	margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 250px;
	max-height: 500px;
}

.container1 {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
}

h1 {
	font-family: 'Cormorant Garamond', serif;
	font-style: italic;
}

p {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
}

.privet{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 500;
}

.tel {
	color: black;
	text-decoration: none;

}

.emal {
	color: black;
	text-decoration: none;
}

 .tel:hover{
 	color: #E6E6FA;
 }

 .emal:hover{
 	color: #E6E6FA;
 }

 .container2 {
    display: grid;
	grid-template-columns: repeat(auto-fit,minmax(30px, 1fr));
	margin-top: 30px;
	padding-bottom: 20px;
 }

 .links1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 .links2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;	
 }

 .links3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

 .links4 {
 	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

 .profil {
	margin-left: 60px;
}
